@page "/Producto/Create"
@page "/Producto/Edit/{id:int}"
@attribute [Authorize]

@inject ProductoServices productoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>@(Id == 0 ? "Nuevo Producto" : "Editar Producto")</PageTitle>


<EditForm Model="producto" OnValidSubmit="Guardar">
    @if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-danger" role="alert">
        @mensaje
    </div>
}
    <DataAnnotationsValidator/>

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Producto</h5>
            </div>
            <div class="card-body">

                
                <div class="mb-3">
                    <label class="form-label"><strong>Producto ID</strong></label>
                    <InputNumber class="form-control" @bind-Value="producto.ProductoId" readonly></InputNumber>
                </div>
                

                <div class="mb-3">
                    <label class="form-label"><strong>Descripcion</strong></label>
                    <InputText class="form-control" @bind-Value="producto.Descripcion"></InputText>
                    <ValidationMessage For="()=>producto.Descripcion"/>
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Costo</strong></label>
                    <InputNumber class="form-control" @bind-Value="producto.Costo"></InputNumber>
                    <ValidationMessage For="() => producto.Costo" />
                </div>
                
                <div class="mb-3">
                    <label class="form-label"><strong>Precio</strong></label>
                    <InputNumber class="form-control" @bind-Value="producto.Precio"></InputNumber>
                    <ValidationMessage For="()=>producto.Precio"/>
                </div>

            </div>
            
            <div class="card-footer text-center mt-2">
                <a href="/Producto/Index" class="btn btn-secondary"><span class="bi bi-arrow-left"></span>Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy">Guardar</button>
                @if (Id > 0)
                {
                    <button type="button" class=" btn btn-danger bi bi-trash" @onclick="Eliminar">Eliminar</button>
                }
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Producto producto = new Producto();
    private string mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            var encontrado = await productoService.Buscar(Id);
            if (encontrado != null)
            {
                producto = encontrado;
            }
            else
            {
                navigationManager.NavigateTo("/Producto/Index");
            }
        }
    }

    private async Task Guardar()
    {
        try
        {
            if (producto.Costo> producto.Precio)
            {
                mensaje = "Precio no puede ser menor que Costo";
                return;
            }

            if (producto.Precio <= 0)
            {
                mensaje = "Precio no puede ser menor o igual a 0";
                return;
            }

            if (await productoService.Existe(producto.Descripcion, producto.ProductoId))
            {
                mensaje = "Ya existe un producto con esta descripción";
                return;
            }

            bool resultado = await productoService.Guardar(producto);
            if (resultado)
            {
                navigationManager.NavigateTo("/Producto/Index");
            }
            else
            {
                mensaje = "No se pudo guardar los cambios en la base de datos.";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Ocurrió un error inesperado: {ex.Message}";
        }
    }

    private async Task Eliminar()
    {
        var eliminado = await productoService.Eliminar(producto.ProductoId);

        if (eliminado)
        {
            navigationManager.NavigateTo("/Producto/Index");
        }
        else
        {
            mensaje = "No se pudo Eliminar correctamente";
        }
    }
}
